.img-footer.-logo{
    width: 100px;
    height: 90px;
    padding-bottom: 40px;
}

.wrap-img .-footer{
    padding-top: 10px;
    display: flex;
    gap: 20px;
}

.wrap-img .img-footer{
    width: 31px;
    height: 31px;
    margin-right: 20px;
}
