.footer-page{
    width: 100%;
    margin-top: 150px;
    height: 440px;
    background-color: #0A070E;
    background-size: cover;
}
.footer .-first{
    margin-top: 30px;
    flex-direction: column;
    margin-left: 150px;
}
.footer-page .footer{
    display: flex;
    background-color: #0A070E;
    background-size: cover;
}
.footer .-sec{
    margin-left: 95px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    width: 106px;
    height: 175px;
}

.footer .-third{
    margin-top: 30px;
    margin-left: 93px;
    flex-direction: column;
}