.img-home{
    align-items: center;
    margin-right: -100px;
    width: 580px;
    height: 700px;
}

.img-home .astro-img{
    margin-left: -70px;
    display: flex;
    margin-top: -220px;
    width: 580px;
    height: 600px;
    position: absolute;
}

.img-home .space-img{
    z-index: -1;
    width: 520px;
    height: 480px;
}

.img-home .comentario-img{
    display: flex;
    position: absolute;
    margin-top: -154px;
    z-index: 1;
    width: 460px;
    height: 130px;
}