.main-button{
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-weight: 700;
    width: 170px;
    height: 60px;
    border: none;
    border-radius: 15px;
    background-color: #A24BF7;
    color: #fff;    
}

.main-button.-header{
    text-align: center;
    font-weight: 700;
    font-size: 22px;
}

.main-button.-btn_home{
    width: 253px;
    height: 73px;
    font-size: 26px;
    margin-bottom: 70px;
}

.main-button.trade-btn{
    width: 210px;
    height: 62px;
    font-size: 26px;
}