.try-page{
    margin-top: 261px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.align-try{
    display: flex;
    justify-content: center;
}

.align-try.-text{
    color: #fff;
    margin-top: -237px;
    margin-bottom: 90px;
}